        
         
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3"> Edit Rekam Medis</h1>
            </div>
            <div class="panel hbox hbox-auto-xs no-border">
                <!-- # Panel Kiri -->
                <div class="col wrapper-lg w-lg bg-light dk r-r">
                    <h4 class="font-thin m-t-none m-b">Basic Info</h4>
                    <div class="">
                            <!-- <a href="" class="thumb-sm m-r">
                                <img src="../img/a1.jpg" class="r r-2x" ng-if="kelamin == 1">
                                <img src="../img/a3.jpg" class="r r-2x" ng-if="kelamin == 2">
                            </a> -->
                            <div class="clear">&nbsp;</div>
                            <div class="">
                                <span class="pull-right text-info">{{namaPasien}}</span>
                                <span>Nama</span>
                            </div>
                            <div class="clear">&nbsp;</div>
                            <div class="">
                                <span class="pull-right text-info">{{phone}}</span>
                                <span>Nomor Telepon</span>
                            </div>
                            <div class="clear">&nbsp;</div>  
                            <div class="">
                                <span class="pull-right text-info">{{umur}} Tahun</span>
                                <span>Umur</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                    <span class="pull-right text-info" ng-if="kelamin == 'L'">Laki - Laki</span>
                                    <span class="pull-right text-info" ng-if="kelamin == 'P'">Perempuan</span>
                                    <span>Jenis Kelamin</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{tinggi_badan}} cm</span>
                                <span>Tinggi Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{berat_badan}} Kg</span>
                                <span>Berat Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{golongan_darah}}</span>
                                <span>Golongan Darah</span>
                            </div>
    
                     
                    </div>
                    <div class="clear">&nbsp;</div>  
                    <div class="clear">&nbsp;</div>  
                    <!-- <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button>
                    <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button> -->
                    <div class="m-b-sm">
                        <div class="btn-group btn-group-justified">
                        <a href="#!/data-pasien/{{x.id_pasien}}" class="btn btn-danger">Tutup Dialog</a>
                        </div>
                      </div>
                </div>
                <!-- # End Panel Kiri -->
    
                <!-- # Panel Kanan -->     
                <div class="col wrapper">
                        <div class="panel-body">
                        <form class="form-horizontal" method="get">
                          <div class="form-group">
                            <label class="col-sm-12 panel-heading"><h3>Dokter Penanggung Jawab</h3></label>
                            <div class="col-sm-12">
                               {{namadokter}}                    
                            </div>  
                            <br />
                            <div class="clear">&nbsp;</div>
                            <div class="clear">&nbsp;</div>

                           

                            <div class="clear">&nbsp;</div>

                            <label class="col-sm-12 panel-heading"><h3>Anamnese</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="amnese"></textarea>                      
                            </div>

                            <label class="col-sm-12 panel-heading"><h3>Riwayat Penyakit</h3></label>
                           

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Jantung</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_jantung" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_jantung">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Hipertensi</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_hipertensi" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_hipertensi">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Diabetes Melitus</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox"  ng-model="status_diabetes">
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_diabetes">
                                    </div>
                            </div>
                          
                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Alergi</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_alergi" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_alergi">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Asma</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_asma" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan"  ng-model="keterangan_asma">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Hepar</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_hepar" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_hepar">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Lambung</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_lambung" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_lambung">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Lain-lain</span>
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" ng-model="status_lain" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan" ng-model="keterangan_lain" >
                                    </div>
                            </div>

                            
                            

                            <label class="col-sm-12 panel-heading"><h3>Pemeriksaan Fisik</h3></label>
                            <label class="col-sm-12 panel-heading">Tanda Tanda Vital</label>
                            <div class="col-sm-12">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Kesadaran</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="kesadaran">
                                  </div>    
                                  
                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Kondisi Umum</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="kondisi_umum">
                                  </div>    


                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Tekanan Darah</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="tekanan_darah">
                                  </div>    

                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Denyut Nadi</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="denyut_nadi">
                                  </div>    
                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Pernafasan</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="pernafasan">
                                  </div>    

                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Suhu</span>
                                    <input type="text" class="form-control" placeholder="....." ng-model="suhu">
                                  </div>    
                            </div>

                            <label class="col-sm-12 panel-heading"><h3>Ekstra Oral</h3></label>
                            <div class="col-sm-12">
                                    <label class="col-sm-12 ">Tonus Bibir</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="tonus_bibir" name="optionsRadios" value="hipotonus"> Hipotonus
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="tonus_bibir" name="optionsRadios" value="normal"> Normal
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">    
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="tonus_bibir" name="optionsRadios" value="hipertonus"> Hipertonus
                                                    </label>
                                                </div>
                                            </div>
                                    </div>

                                    <label class="col-sm-12 ">TMJ</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  ng-model="tmj"  name="optionsTmj"    value="normal"> Normal
                                                </label>
                                                </div>
                                                <div class="col-sm-6">
                                                <div class="input-group m-b">
                                                        <span class="input-group-addon">
                                                              <input type="radio" ng-model="tmj"  name="optionsTmj" value="kelainan">
                                                        </span>
                                                              <input type="text"  ng-model="kelainan_tmj" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                                </div>
                                            </div>
                                    </div>

                                    <label class="col-sm-12 ">Kelenjar Limfe</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="kelenjar_limfe"  name="optionlimfe" value="teraba"> Teraba
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="kelenjar_limfe"  name="optionlimfe" value="terasasakit"> Teraba Sakit
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" ng-model="kelenjar_limfe"  name="optionlimfe" value="tidakteraba"> Tidak Teraba
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <row>
                                        <div class="col-sm-4"><img src="../img/periksaoral1.jpg"/></div>
                                        <div class="col-sm-4"><textarea class="form-control" style="height: 300px;" ng-model="keterangan_ekstra_oral"></textarea></div>
                                        <div class="col-sm-4"><img src="../img/periksaoral2.jpg"/></div>
                                    </row>  
                            </div>



                           

                          

                            <div class="line line-dashed b-b line-lg pull-in" style="margin-top:30px;"></div>

                            <label class="col-sm-12 panel-heading"><h3>Jaringan Lunak Mulut</h3></label>

                                <label class="col-sm-12 ">Kebersihan Mulut</label>
                            
                                <div class="form-group">
                                    <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio" ng-model="kebersihan_mulut"  name="kebersihan_mulut" value="baik"> Baik
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  ng-model="kebersihan_mulut"  name="kebersihan_mulut" value="sedang"> Sedang
                                                </label>
                                            </div>
                                            <div class="col-sm-4">    
                                                <label class="checkbox-inline">
                                                    <input type="radio"  ng-model="kebersihan_mulut"  name="kebersihan_mulut" value="buruk"> Buruk
                                                </label>
                                            </div>
                                    </div>
                                </div>

                                <label class="col-sm-12 ">Mukosa bukal</label>
                                
                                <div class="form-group">
                                     <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  ng-model="mukosa_bukal" name="mukosa_bukal"  value="normal"> Normal
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                    <div class="input-group m-b">
                                                            <span class="input-group-addon">
                                                                    <input type="radio"  ng-model="mukosa_bukal" name="mukosa_bukal" value="kelainan">
                                                                  </span>
                                                                  <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_mukosa_bukal">
                                                    </div> 
                                            </div>
                                           
                                        </div>
                                    </div>
                                
                                <label class="col-sm-12 ">Mukosa labial</label>
                                    
                                <div class="form-group">
                                    <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"   ng-model="mukosa_labial" name="mukosa_labial" value="normal"> Normal
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">
                                                        <input type="radio"  ng-model="mukosa_labial" name="mukosa_labial" value="kelainan">
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_mukosa_labial">
                                                </div> 
                                            </div>
                                               
                                    </div>
                                </div> 
                                
                                <label class="col-sm-12 ">Frenulum labial</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"  ng-model="frenulum_labial" name="frenulum_labial" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  ng-model="frenulum_labial" name="frenulum_labial" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_frenulum_labial">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 
                                
                                <label class="col-sm-12 ">Lidah</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"    ng-model="lidah" name="lidah" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  ng-model="lidah" name="lidah" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_lidah">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Palatum</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"  ng-model="palatum" name="palatum" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"   ng-model="palatum" name="palatum" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_palatum">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Tonsil</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   ng-model="tonsil" name="tonsil" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"   ng-model="tonsil" name="tonsil" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_tonsil">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Dasar Mulut</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   ng-model="dasar_mulut" name="dasar_mulut" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"   ng-model="dasar_mulut" name="dasar_mulut" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_dasar_mulut">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 
                                <label class="col-sm-12 ">Gingiva</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio" ng-model="gingiva" name="gingiva" value="normal"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  ng-model="gingiva" name="gingiva" value="kelainan">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan" ng-model="kelainan_gingiva">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                            <div class="col-sm-12">
                                <label class="col-sm-12 panel-heading"><h4> Peta Mukosa dan Jaringan Lunak Mulut</h4></label>
                                <row>
                                    <div class="col-sm-4"><img src="../img/mukosa1.jpg"/></div>
                                    <div class="col-sm-4"><textarea class="form-control" style="height: 300px;" ng-model="keterangan_jaringan_lunak_mulut"></textarea></div>
                                    <div class="col-sm-4"><img src="../img/mukosa2.jpg"/></div>
                                </row>  
                            </div>


                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Elemen Gigi / Mulut</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="element_gigi_mulut"></textarea>      
                            </div>

                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Diagnosa</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="diagnosa"></textarea>      
                            </div>

                            <label class="col-sm-12 panel-heading" style="margin-top:40px;  text-align:right;"><h3 style="margin-right:20px;">ICD 10</h3></label>
                            <div class="col-sm-12">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2"><textarea class="form-control" ng-model="icd10"></textarea></div>  
                            </div>

                          


                            <div class="col wrapper">
                                    <div class="col-sm-12">
                            
                                            <button class="btn btn-primary btn-lg btn-block"><i class="fa  fa-edit  pull-left"></i> Submit Edit Rekam Medis</button>
                                   
                                   </div>
                            </div>
                  
    
                </div>
                <!-- # End Panel Kanan -->



               





    
             </div>



    
          