<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"> Data Rekam Medis</h1>
</div>
<div class="panel hbox hbox-auto-xs no-border">
    <!-- # Panel Kiri -->
    <div class="col wrapper-lg w-lg bg-light dk r-r">
        <h4 class="font-thin m-t-none m-b">Basic Info</h4>
        <div class="">
            <!-- <a href="" class="thumb-sm m-r">
                                <img src="../img/a1.jpg" class="r r-2x" ng-if="kelamin == 1">
                                <img src="../img/a3.jpg" class="r r-2x" ng-if="kelamin == 2">
                            </a> -->
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{namaPasien}}</span>
                <span>Nama</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{phone}}</span>
                <span>Nomor Telepon</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{umur}} Tahun</span>
                <span>Umur</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info" ng-if="kelamin == 'L'">Laki - Laki</span>
                <span class="pull-right text-info" ng-if="kelamin == 'P'">Perempuan</span>
                <span>Jenis Kelamin</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{tinggi_badan}} cm</span>
                <span>Tinggi Badan</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{berat_badan}} Kg</span>
                <span>Berat Badan</span>
            </div>
            <div class="clear">&nbsp;</div>
            <div class="">
                <span class="pull-right text-info">{{golongan_darah}}</span>
                <span>Golongan Darah</span>
            </div>
            <div class="clear">&nbsp;</div>            
            <div class="">
                    <span>Alamat</span>
            </div>
            <div class="clear">&nbsp;</div>            
            <div class="clear">&nbsp;</div>                        
            <div class="">
               {{alamat}}
             </div>


        </div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <!-- <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button>
                    <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button> -->
        <div class="m-b-sm">
            <div class="btn-group btn-group-justified">
                <a href="#!/data-pasien/{{x.id_pasien}}" class="btn btn-danger">Tutup Dialog</a>
            </div>
        </div>
    </div>
    <!-- # End Panel Kiri -->

    <!-- # Panel Kanan -->
    <div class="col wrapper">
        <div class="panel-body">
            <form class="form-horizontal" method="get">
                <div class="form-group">
                    <label class="col-sm-12 panel-heading">
                        <h3>Dokter Penanggung Jawab</h3>
                    </label>
                    <div class="col-sm-12">
                        {{namadokter}}
                    </div>
                    <br />
                    <div class="clear">&nbsp;</div>
                    <div class="clear">&nbsp;</div>



                    <div class="clear">&nbsp;</div>

                    <label class="col-sm-12 panel-heading">
                        <h3>Anamnese</h3>
                    </label>
                    <div class="col-sm-12">
                        <textarea class="form-control" ng-model="amnese"></textarea>
                    </div>

                  

                    <label class="col-sm-12 panel-heading" style="margin-top:40px;">
                        <h3>Elemen Gigi / Mulut</h3>
                    </label>
                    <div class="col-sm-12">
                        <textarea class="form-control" ng-model="element_gigi_mulut"></textarea>
                    </div>

                    <label class="col-sm-12 panel-heading" style="margin-top:40px;">
                        <h3>Diagnosa</h3>
                    </label>
                    <div class="col-sm-12">
                        <textarea class="form-control" ng-model="diagnosa"></textarea>
                    </div>

                    <label class="col-sm-12 panel-heading" style="margin-top:40px;  text-align:right;">
                        <h3 style="margin-right:20px;">ICD 10</h3>
                    </label>
                    <div class="col-sm-12">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <textarea class="form-control" ng-model="icd10"></textarea>
                        </div>
                    </div>
 <!-- ODONTOGRAMA -->
                    <label class="col-sm-12 panel-heading"><h3>Pemeriksaan Gigi</h3></label>
                    <div class="col-sm-12">
                        <!-- ORDONTOGRAMA INPUT -->
                       <div style="width:20px;float:left;" ng-click="n18()"> <center>18 <br /><img src="{{imageUrl18}}"   /></center> </div>
                       <div style="width:20px;float:left;margin-left:20px" ng-click="n17()" > <center>17 <br /><img src="{{imageUrl17}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n16()" > <center>16 <br /><img src="{{imageUrl16}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n15()"> <center>15 <br /><img src="{{imageUrl15}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n14()"> <center>14 <br /><img src="{{imageUrl14}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n13()"> <center>13 <br /><img src="{{imageUrl13}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n12()"> <center>12 <br /><img src="{{imageUrl12}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n11()"> <center>11 <br /><img src="{{imageUrl11}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n21()"> <center>21 <br /><img src="{{imageUrl21}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n22()"> <center>22 <br /><img src="{{imageUrl22}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n23()"> <center>23 <br /><img src="{{imageUrl23}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n24()"> <center>24 <br /><img src="{{imageUrl24}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n25()"> <center>25 <br /><img src="{{imageUrl25}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n26()"> <center>26 <br /><img src="{{imageUrl26}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n27()"> <center>27 <br /><img src="{{imageUrl27}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n28()"> <center>28 <br /><img src="{{imageUrl28}}" /></center> </div>
                </div>
                <div class="col-sm-12">
                        <!-- ORDONTOGRAMA INPUT -->
                       <div style="width:20px;float:left;">&nbsp; </div>
                       <div style="width:20px;float:left;margin-left:20px"> &nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px"  ng-click="n55()"> <center>55 <br /><img src="{{imageUrl55}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"  ng-click="n54()"> <center>54 <br /><img src="{{imageUrl54}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"  ng-click="n53()"> <center>53 <br /><img src="{{imageUrl53}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"  ng-click="n52()"> <center>52 <br /><img src="{{imageUrl52}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"  ng-click="n51()"> <center>51 <br /><img src="{{imageUrl51}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n61()"> <center>61 <br /><img src="{{imageUrl61}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n62()"> <center>62 <br /><img src="{{imageUrl62}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n63()"> <center>63 <br /><img src="{{imageUrl63}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n64()"> <center>64 <br /><img src="{{imageUrl64}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n65()"> <center>65 <br /><img src="{{imageUrl65}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                </div>
                <div class="col-sm-12">
                        <!-- ORDONTOGRAMA INPUT -->
                       <div style="width:20px;float:left;">&nbsp; </div>
                       <div style="width:20px;float:left;margin-left:20px"> &nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n85()"> <center>85 <br /><img src="{{imageUrl85}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n84()"> <center>84 <br /><img src="{{imageUrl84}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n83()"> <center>83 <br /><img src="{{imageUrl83}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n82()"> <center>82 <br /><img src="{{imageUrl82}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n81()"> <center>81 <br /><img src="{{imageUrl81}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n71()" > <center>71 <br /><img src="{{imageUrl71}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n72()" > <center>72 <br /><img src="{{imageUrl72}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n73()" > <center>73 <br /><img src="{{imageUrl73}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n74()" > <center>74 <br /><img src="{{imageUrl74}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n75()" > <center>75 <br /><img src="{{imageUrl75}}"/></center> </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                       <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
                </div>
                <div class="col-sm-12">
                        <!-- ORDONTOGRAMA INPUT -->
                       <div style="width:20px;float:left;" ng-click="n48()" > <center>48 <br /><img src="{{imageUrl48}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:20px" ng-click="n47()" > <center>47 <br /><img src="{{imageUrl47}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n46()" > <center>46 <br /><img src="{{imageUrl46}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n45()" > <center>45 <br /><img src="{{imageUrl45}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n44()" > <center>44 <br /><img src="{{imageUrl44}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n43()" > <center>43 <br /><img src="{{imageUrl43}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n42()" > <center>42 <br /><img src="{{imageUrl42}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n41()" > <center>41 <br /><img src="{{imageUrl41}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n31()"> <center>31 <br /><img src="{{imageUrl31}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n32()"> <center>32 <br /><img src="{{imageUrl32}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n33()"> <center>33 <br /><img src="{{imageUrl33}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n34()"> <center>34 <br /><img src="{{imageUrl34}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n35()"> <center>35 <br /><img src="{{imageUrl35}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n36()"> <center>36 <br /><img src="{{imageUrl36}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n37()"> <center>37 <br /><img src="{{imageUrl37}}" /></center> </div>
                       <div style="width:20px;float:left;margin-left:40px" ng-click="n38()"> <center>38 <br /><img src="{{imageUrl38}}" /></center> </div>
                </div>
                 
                            
                    <div class="col-sm-12"  >
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                          <div class="col-sm-12">
                            <div class="col-sm-4"><img src="../img/belum_erupsi.png"  ng-click="fungsiBelumErupsi()"/> Tidak / Belum Erupsi</div>
                              <div class="col-sm-4"><img src="../img/gigi_hilang.png" ng-click="fungsiGH()"/> Gigi Hilang</div>
                              <div class="col-sm-4"><img src="../img/mahkota_non_logam.png" ng-click="fungsiMahkotaNonLogam()"/> Mahkota Non Logam</div>
                          </div>
                          <div class="col-sm-12">
                            <div class="col-sm-4"><img src="../img/erupsi_sebagian.png" ng-click="fungsiErupsiSebagian()" /> Erupsi Sebagian</div>
                            <div class="col-sm-4"><img src="../img/karies.png" ng-click="fungsiKaries()"/> Karies/Tambalan Sementara</div>
                          </div>
                          <div class="col-sm-12">
                            <div class="col-sm-4"><img src="../img/anomali_bentuk.png" ng-click="fungsiAnomaliBentuk()"/> Anomali Bentuk</div>
                            <div class="col-sm-4"><img src="../img/tambalan_logam.png" ng-click="fungsiTambalanLogam()"/> Tambalan Logam</div>
                          </div>
                          <div class="col-sm-12">
                            <div class="col-sm-4"><img src="../img/non_vital.png" ng-click="fungsiNonVital()"/> Non Vital</div>
                            <div class="col-sm-4"><img src="../img/tambalan_non_logam.png" ng-click="fungsiTambalanNonLogam()"/> Tambalan Non Logam</div>
                          </div>
                          <div class="col-sm-12">
                            <div class="col-sm-4"><img src="../img/sisa_akar.png" ng-click="fungsiSisaAkar()"/> Sisa Akar</div>
                            <div class="col-sm-4"><img src="../img/gigi_mahkota_logam.png" ng-click="fungsiML()"/> Mahkota Logam</div>
                          </div>
                          <div class="clear">&nbsp;</div>
                          <div class="clear">&nbsp;</div>
                          <div class="clear">&nbsp;</div>                     
                        </div>
                    </div>



                            <!-- FORM KONDISI GIGI-->
                            <div class="col-sm-12">
                                    <div class="panel panel-default">
                                            <div class="panel-heading font-bold">
                                            Form Pemeriksaan Gigi
                                            </div>
                                            <div class="panel-body">
    
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Elemen Gigi</label>
                                                <div class="col-sm-10">
                                                    <h5>{{teethValue}}</h5>
                                                </div>
                                            </div> 	
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Kondisi</label>
                                                <div class="col-sm-10">
                                                    <h5>{{teethExplaination}}</h5>
                                                </div>
                                            </div>
                                          
                                            <div class="form-group">
                                                    <label class="col-sm-2 control-label" for="input-id-1">Keterangan </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="keterangan_element_gigi">
                                                        <input type="hidden" class="form-control" ng-model="urlTEETH">
                                                        
                                                    </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                <button type="submit" ng-click="cancelFormKondisi()" class="btn btn-default">Cancel</button>
                                                <button ng-click="submitFormKondisi()" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- FORM KONDISI GIGI-->

                   <div class="col-sm-12">
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <label class="col-sm-12 panel-heading"> Keterangan : </label>

                            <table class="table table-striped m-b-none" >
                                    <thead>
                                      <tr>
                                        <th style="width:60px;" class="text-center">No</th>
                                        <th>Elemen Gigi</th>                    
                                        <th>Keterangan</th>
                                        <th>Catatan</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="k in daftarKondisiGigi">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ k.teeth }}</td>
                                            <td>{{ k.explaination }}</td>
                                            <td>{{ k.keterangan }}</td>
                                            <td><i  class="fa fa-times text-danger text"  ng-click="hapusdaftarKondisi($index)"></i></td>
                                        </tr>
                                    </tbody>
                            </table>



                            <div class="form-group">
                             
                              <div class="clear">&nbsp;</div>
                              <div class="clear">&nbsp;</div>
                              <div class="clear">&nbsp;</div>                     
                            </div>
                    </div>
 <!-- ODONTOGRAMA -->









                    <label class="col-sm-12 panel-heading" style="margin-top:40px;">
                        <h3>Tindakan Medis / Perawatan</h3>
                    </label>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Daftar Tindakan</div>
                            <table class="table table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th style="width:20px;" class="text-center">No</th>
                                        <th>Item</th>
                                        <th style="width:70px;">ICD 9</th>
                                        <th style="width:70px;">Harga Bahan</th>
                                        <th style="width:70px;">Harga Layanan</th>
                                        <th style="width:70px;">Total </th>
                                        <th style="width:20px;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="a in daftarLayanan">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ a.name }}</td>
                                        <td>{{ a.icd9 }}</td>
                                        <td>{{ a.harga | currency:'Rp':0 }}</td>
                                        <td>{{ a.jasa | currency:'Rp':0 }}</td>
                                        <td>{{ ( (a.jasa * 1) + (a.harga * 1) ) | currency:'Rp':0 }}</td>
                                        <td>
                                            <i class="fa fa-times text-danger text" ng-click="hapusdaftarLayanan($index)"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- FORM LAYANAN MEDIS-->
                    <div class="col-sm-12">


                        <div class="panel panel-default" ng-show="shFormLayanan">
                            <div class="panel-heading font-bold">
                                Form Layanan Medis
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal">
                                    <input type="hidden" class="form-control" ng-model="idLayanan">
                                    <input type="hidden" class="form-control" ng-model="no">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Layanan</label>
                                        <div class="col-sm-10">
                                            <h5>{{nameLayanan}}</h5>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                        <div class="col-sm-10">
                                            <h5>{{bahanLayanan}}</h5>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                        <div class="col-sm-10">
                                            <h5>{{harga_bahan | currency:'Rp':0 }}</h5>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Pelaksana</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" ng-model="pelaksana" ng-change="updateJasa()">
                                                <option value="0">CO ASS</option>
                                                <option value="1">PPDGS</option>
                                                <option value="2">DRG</option>
                                                <option value="3">DRG SP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Jasa Medis</label>
                                        <div class="col-sm-10">
                                            {{jasa | currency:'Rp':0}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">ICD 9</label>
                                        <div class="col-sm-10">
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" ng-model="icd9">
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" class="form-control" ng-model="harga_koas">
                                    <input type="hidden" class="form-control" ng-model="harga_drg">
                                    <input type="hidden" class="form-control" ng-model="harga_drgsp">
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" ng-click="cancelFormLayanan()" class="btn btn-default">Cancel</button>
                                            <button ng-click="submitFormLayanan()" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>
                    <!-- FORM LAYANAN MEDIS-->


                    <!-- Panel Tambah Tindakan Medis -->
                    <label class="col-sm-12">Pilih Tindakan Medis / Perawatan</label>
                    <div class="col-sm-12">
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                    </div>
                    <div class="col-sm-12">

                        <div class="table-responsive">
                            <table ui-jq="dataTable" class="table  table-striped b-t b-b" id="mytableLayanan">
                                <thead>
                                    <tr>
                                        <th style="width:5%">No </th>
                                        <th style="width:90%">Layanan</th>
                                        <th style="width:5%">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="z in dataLayanan">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{z.layanan }}</td>
                                        <td>
                                            <i ng-click="FormLayanan(z.id)" class="fa fa-check text-success"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                    <label class="col-sm-12" style="margin-top:40px;">
                        <h3>Pengobatan</h3>
                    </label>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Daftar Obat</div>
                            <table class="table table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th style="width:60px;" class="text-center">No</th>
                                        <th>Item</th>
                                        <th style="width:70px;">Quantity</th>
                                        <th style="width:70px;">Satuan</th>
                                        <th style="width:70px;">Harga</th>
                                        <th style="width:70px;">Total</th>
                                        <th style="width:20px;">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="y in daftarObat">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ y.name }}</td>
                                        <td>{{ y.quantity }}</td>
                                        <td>{{ y.satuan }}</td>
                                        <td>{{ y.harga | currency:'Rp':0 }}</td>
                                        <td>{{ y.quantity * y.harga | currency:'Rp':0 }}</td>
                                        <td>
                                            <i class="fa fa-times text-danger text" ng-click="hapusdaftarObat($index)"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Panel Tambah Obat -->
                    <div class="col-sm-12">
                        <div class="panel panel-default" ng-show="shForm">
                            <div class="panel-heading font-bold">
                                Form elements
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal">
                                    <input type="hidden" class="form-control" ng-model="id">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Quantity</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="quantity">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Harga</label>
                                        <div class="col-sm-10">
                                            <p> {{harga | currency:'Rp':0 }}</p>
                                        </div>

                                    </div>



                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" ng-click="cancelFormObat()" class="btn btn-default">Cancel</button>
                                            <button ng-click="submitForm()" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>


                    <!-- Panel Tambah Obat -->
                    <div class="col-sm-12">
                        <div class="col-sm-6 col-md-6">Pilih Daftar Obat</div>
                        <div class="col-sm-6 col-md-6">
                            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="float:right" ng-show="btnClose"> X Close </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table ui-jq="dataTable" class="table  table-striped b-t b-b" id="mytableObat">
                                <thead>
                                    <tr>
                                        <th style="width:5%">No </th>
                                        <th style="width:90%">Nama Obat</th>
                                        <th style="width:5%">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in dataObat">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ x.nama }}</td>
                                        <td>
                                            <i ng-click="FormObat(x.id)" class="fa fa-check text-success"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <label class="col-sm-12 panel-heading">
                        <h3>Masuk Ke Dalam Program Cicilan ?</h3>
                    </label>
                    <div class="col-sm-12">
                        <select class="form-control m-b" ng-model="cicilan">
                            <option value="1">TIDAK</option>
                            <option value="3">YA</option>
                        </select>
                    </div>

                    <div class="col-sm-12" style="margin-top:50px">

                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-12 ">
                                <button type="submit" class="btn btn-primary" ng-click="simpanData()">Simpan Data</button>
                            </div>
                        </div>

                    </div>


                </div>
            </form>
        </div>


    </div>
    <!-- # End Panel Kanan -->










</div>