        
         
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3"> Data Rekam Medis</h1>
            </div>
            <div class="panel hbox hbox-auto-xs no-border">
                <!-- # Panel Kiri -->
                <div class="col wrapper-lg w-lg bg-light dk r-r">
                    <h4 class="font-thin m-t-none m-b">Basic Info</h4>
                    <div class="">
                            <a href="" class="thumb-sm m-r">
                                <img src="../img/a1.jpg" class="r r-2x" ng-if="kelamin == 1">
                                <img src="../img/a3.jpg" class="r r-2x" ng-if="kelamin == 2">
                            </a>
                            <a href="">{{namaPasien}}</a>
                            <div class="clear">&nbsp;</div>
                            <div class="">
                                <span class="pull-right text-info">{{phone}}</span>
                                <span>Nomor Telepon</span>
                            </div>
                            <div class="clear">&nbsp;</div>  
                            <div class="">
                                <span class="pull-right text-info">{{umur}} Tahun</span>
                                <span>Umur</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info" ng-if="kelamin == 1">Laki - Laki</span>
                                <span class="pull-right text-info" ng-if="kelamin == 2">Perempuan</span>
                                <span>Jenis Kelamin</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{tinggi_badan}} cm</span>
                                <span>Tinggi Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{berat_badan}} Kg</span>
                                <span>Berat Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{golongan_darah}}</span>
                                <span>Golongan Darah</span>
                            </div>
    
                     
                    </div>
                    <div class="clear">&nbsp;</div>  
                    <div class="clear">&nbsp;</div>  
                    <!-- <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button>
                    <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button> -->
                    <div class="m-b-sm">
                        <div class="btn-group btn-group-justified">
                        <a href="#!/data-pasien/{{x.id_pasien}}" class="btn btn-danger">Tutup Dialog</a>
                        </div>
                      </div>
                </div>
                <!-- # End Panel Kiri -->
    
                <!-- # Panel Kanan -->    
                <div class="col wrapper">
                        <div class="panel-body">
                        <form class="form-horizontal" method="get">
                          <div class="form-group">
                            <label class="col-sm-12 panel-heading"><h3>Dokter Penanggung Jawab</h3></label>
                            <div class="col-sm-12">
                               {{namadokter}}                    
                            </div>  
                            <br />
                            <div class="clear">&nbsp;</div>
                            <div class="clear">&nbsp;</div>

                           

                            <div class="clear">&nbsp;</div>

                            <label class="col-sm-12 panel-heading"><h3>Anamnese</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="amnese"></textarea>                      
                            </div>

                            <label class="col-sm-12 panel-heading"><h3>Riwayat Penyakit</h3></label>
                           

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Jantung</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Hipertensi</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Diabetes Melitus</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>
                          
                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Alergi</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Asma</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Hepar</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Penyakit Lambung</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">Lain-lain</span>
                                            <input type="text" class="form-control" placeholder=".....">
                                        </div>  
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="col-sm-6 control-label">Tidak/Ya</label>
                                            <div class="col-sm-6">
                                              <label class="i-switch m-t-xs m-r">
                                                <input type="checkbox" >
                                                <i></i>
                                              </label>
                                            </div> 
                                            
                                    </div>
                                    <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Keterangan">
                                    </div>
                            </div>

                            
                            

                            <label class="col-sm-12 panel-heading"><h3>Pemeriksaan Fisik</h3></label>
                            <label class="col-sm-12 panel-heading">Tanda Tanda Vital</label>
                            <div class="col-sm-12">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">Kesadaran</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    
                                  
                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Kondisi Umum</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    


                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Tekanan Darah</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    

                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Denyut Nadi</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    
                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Pernafasan</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    

                                  <div class="input-group m-b">
                                    <span class="input-group-addon">Suhu</span>
                                    <input type="text" class="form-control" placeholder=".....">
                                  </div>    
                            </div>

                            <label class="col-sm-12 panel-heading"><h3>Ekstra Oral</h3></label>
                            <div class="col-sm-12">
                                    <label class="col-sm-12 ">Tonus Bibir</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" name="optionsRadios" value="option1"> Hipotonus
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" name="optionsRadios" value="option2"> Normal
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">    
                                                    <label class="checkbox-inline">
                                                        <input type="radio" name="optionsRadios" value="option3"> Hipertonus
                                                    </label>
                                                </div>
                                            </div>
                                    </div>

                                    <label class="col-sm-12 ">TMJ</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input type="radio" name="optionsRadios"  value="option1"> Normal
                                                </label>
                                                </div>
                                                <div class="col-sm-6">
                                                <div class="input-group m-b">
                                                        <span class="input-group-addon">
                                                              <input type="radio" name="optionsRadios" value="option2">
                                                        </span>
                                                              <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                                </div>
                                            </div>
                                    </div>

                                    <label class="col-sm-12 ">Kelenjar Limfe</label>

                                    <div class="form-group">
                                           
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio"  name="optionsRadios" value="option1"> Teraba
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" name="optionsRadios" value="option2"> Teraba Sakit
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" name="optionsRadios" value="option3"> Tidak Teraba
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                            </div>

                            <div class="col-sm-12">
                                    <row>
                                        <div class="col-sm-4"><img src="../img/periksaoral-a.png"/></div>
                                        <div class="col-sm-4"><textarea class="form-control" style="height: 300px;"></textarea></div>
                                        <div class="col-sm-4"><img src="../img/periksaoral-b.png"/></div>
                                    </row>  
                            </div>



                            <label class="col-sm-12 panel-heading"><h3>Pemeriksaan Gigi</h3></label>
                            <div class="col-sm-12">
                                    <!-- ORDONTOGRAMA INPUT -->
                                   <div class="col-sm-1"> <center>18 <br /><img src="{{imageUrl}}" ng-click="n18()"  /></center> </div>
                                   <div class="col-sm-1"> <center>17 <br /><img src="../img/G1.png" /></center> </div>
                                   <div class="col-sm-1"> <center>16 <br /><img src="../img/G1.png" /></center> </div>
            
               
                    
                            <!-- ORDONTOGRAMA INPUT -->                                            
                            </div>


                         

                            <div class="col-sm-12"  >
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                  <div class="col-sm-12">
                                      <img src="../img/gigi_hilang.png" ng-click="fungsiGH()"/> Gigi Hilang
                                      <img src="../img/gigi_mahkota_logam.png" ng-click="fungsiML()"/> Mahkota Logam
                                  </div>
                                  <div class="clear">&nbsp;</div>
                                  <div class="clear">&nbsp;</div>
                                  <div class="clear">&nbsp;</div>                     
                                </div>
                            </div>

                            <div class="col-sm-12" ng-show="tabelKeterangan" >
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <label class="col-sm-12 panel-heading"> Keterangan : </label>

                                    <table class="table table-striped m-b-none" >
                                            <thead>
                                              <tr>
                                                <th style="width:60px;" class="text-center">No</th>
                                                <th>Element Gigi</th>                    
                                                <th>Keterangan</th>
                                                <th style="width:20px;">Aksi</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr >
                                                    <td>1</td><td>P18</td><td>{{keterangan18}}</td><td><i  class="fa fa-times text-danger text"></i></td>
                                                </tr>
                                             
                                            </tbody>
                                    </table>



                                    <div class="form-group">
                                     
                                      <div class="clear">&nbsp;</div>
                                      <div class="clear">&nbsp;</div>
                                      <div class="clear">&nbsp;</div>                     
                                    </div>
                            </div>

                            <label class="col-sm-12 panel-heading"><h3>Diagnosa</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="diagnosa"></textarea>                      
                            </div>

                            <div class="col-sm-12"  >
                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <label class="col-sm-12 panel-heading">Rencana Perawatan </label>
                                    <div class="col-sm-12">
                                            <textarea class="form-control" ng-model="rencanaPerawatan"></textarea>                      
                                    </div>
                            </div>

                            <div class="col-sm-12"  >
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <label class="col-sm-12 panel-heading"> Perawatan </label>
                                <div class="col-sm-12">
                                        <textarea class="form-control" ng-model="dataPerawatan"></textarea>                      
                                </div>
                            </div>

                            <div class="line line-dashed b-b line-lg pull-in" style="margin-top:30px;"></div>

                            <label class="col-sm-12 panel-heading"><h3>Jaringan Lunak Mulut</h3></label>

                                <label class="col-sm-12 ">Kebersihan Mulut</label>
                            
                                <div class="form-group">
                                    <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  name="optionsRadios" value="option1"> Baik
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  name="optionsRadios" value="option2"> Sedang
                                                </label>
                                            </div>
                                            <div class="col-sm-4">    
                                                <label class="checkbox-inline">
                                                    <input type="radio"  name="optionsRadios" value="option3"> Buruk
                                                </label>
                                            </div>
                                    </div>
                                </div>

                                <label class="col-sm-12 ">Mukosa bukal</label>
                                
                                <div class="form-group">
                                     <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"  name="optionsRadios"  value="option1"> Normal
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                    <div class="input-group m-b">
                                                            <span class="input-group-addon">
                                                                    <input type="radio"  name="optionsRadios">
                                                                  </span>
                                                                  <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                    </div> 
                                            </div>
                                           
                                        </div>
                                    </div>
                                
                                <label class="col-sm-12 ">Mukosa labial</label>
                                    
                                <div class="form-group">
                                    <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label class="checkbox-inline">
                                                    <input type="radio"   name="optionsRadios" value="option1"> Normal
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">
                                                        <input type="radio"  name="optionsRadios" value="option2">
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                               
                                    </div>
                                </div> 
                                
                                <label class="col-sm-12 ">Frenulum labial</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 
                                
                                <label class="col-sm-12 ">Lidah</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Palatum</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Tonsil</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                                <label class="col-sm-12 ">Dasar Mulut</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 
                                <label class="col-sm-12 ">Gingiva</label>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <label class="checkbox-inline">
                                                <input type="radio"   name="optionsRadios" value="option1"> Normal
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">
                                                    <input type="radio"  name="optionsRadios" value="option2">
                                                </span>
                                                    <input type="text" class="form-control" placeholder="Ada Kelainan">
                                                </div> 
                                            </div>
                                            
                                    </div>
                                </div> 

                            <div class="col-sm-12">
                                <label class="col-sm-12 panel-heading"><h4> Peta Mukosa dan Jaringan Lunak Mulut</h4></label>
                                <row>
                                    <div class="col-sm-4"><img src="../img/mukosa1.png"/></div>
                                    <div class="col-sm-4"><textarea class="form-group" style="height: 300px;"></textarea></div>
                                    <div class="col-sm-4"><img src="../img/mukosa1.png"/></div>
                                </row>  
                            </div>





                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Tindakan Medis</h3></label>
                            <div class="col-sm-12">
                                    <div class="panel panel-default">
                                      <div class="panel-heading">Daftar Tindakan</div>
                                      <table class="table table-striped m-b-none">
                                        <thead>
                                          <tr>
                                            <th style="width:20px;" class="text-center">No</th>
                                            <th>Item</th>           
                                            <th style="width:70px;">Harga Bahan</th>
                                            <th style="width:70px;">Harga Layanan</th>
                                            <th style="width:70px;">Total </th>
                                            <th style="width:20px;">Aksi</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="a in daftarLayanan">
                                                <td>{{ $index + 1 }}</td>
                                                <td>{{ a.name }}</td>
                                                <td>{{ a.harga | currency:'Rp':0 }}</td>
                                                <td>{{ a.jasa | currency:'Rp':0 }}</td>
                                                <td>{{ ( (a.jasa * 1) + (a.harga * 1) ) | currency:'Rp':0 }}</td><td><i  class="fa fa-times text-danger text" ng-click="hapusdaftarLayanan($index)"></i></td>
                                            </tr>
                                         
                                        </tbody>
                                      </table>
                                    </div>
                            </div>

                            <!-- FORM LAYANAN MEDIS-->
                            <div class="col-sm-12">


                                <div class="panel panel-default" ng-show="shFormLayanan">
                                        <div class="panel-heading font-bold">
                                        Form elements
                                        </div>
                                        <div class="panel-body">

                                    <form class="form-horizontal">
                                        <input type="hidden" class="form-control" ng-model="idLayanan">
                                        <input type="hidden" class="form-control" ng-model="no">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Layanan</label>
                                            <div class="col-sm-10">
                                                <h5>{{nameLayanan}}</h5>
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                            <div class="col-sm-10">
                                                <h5>{{bahanLayanan}}</h5>
                                            </div>
                                        </div> 	
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                            <div class="col-sm-10">
                                                <h5>{{harga_bahan | currency:'Rp':0 }}</h5>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Pelaksana</label>
                                                <div class="col-sm-10">
                                                        <select class="form-control m-b"  ng-model="pelaksana" ng-change="updateJasa()">
                                                                <option value="0">KO AS</option>                                
                                                                <option value="1">DRG</option>
                                                                <option value="2">DRG SP</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Jasa Medis</label>
                                                <div class="col-sm-10">
                                                       {{jasa | currency:'Rp':0}}
                                                </div>
                                        </div>
                                        
                                        <input type="hidden" class="form-control" ng-model="harga_koas">
                                        <input type="hidden" class="form-control" ng-model="harga_drg">
                                        <input type="hidden" class="form-control" ng-model="harga_drgsp">
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" ng-click="cancelFormLayanan()" class="btn btn-default">Cancel</button>
                                            <button ng-click="submitFormLayanan()" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                    </div>

                                </div>

                            </div>
                            <!-- FORM LAYANAN MEDIS-->


                            <!-- Panel Tambah Tindakan Medis -->
                            <label class="col-sm-12" >Pilih Tindakan Medis</label>
                            <div class="col-sm-12"><div class="line line-dashed b-b line-lg pull-in"></div></div>
                            <div class="col-sm-12">
                                
                                <div class="table-responsive" >
                                        <table ui-jq="dataTable"  class="table  table-striped b-t b-b"   id="mytableLayanan">
                                        <thead>
                                        <tr>
                                            <th  style="width:5%">No </th>
                                            <th  style="width:90%">Layanan</th>          
                                            <th  style="width:5%">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="z in dataLayanan">
                                                <td>{{ $index + 1 }}</td> 
                                                <td>{{z.layanan }}</td>
                                                <td>
                                                   <i ng-click="FormLayanan(z.id)" class="fa fa-check text-success"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>



                            <label class="col-sm-12" style="margin-top:40px;"><h3>Pengobatan</h3></label>
                            <div class="col-sm-12">
                                    <div class="panel panel-default">
                                      <div class="panel-heading">Daftar Obat</div>
                                      <table class="table table-striped m-b-none">
                                        <thead>
                                          <tr>
                                            <th style="width:60px;" class="text-center">No</th>
                                            <th>Item</th>                    
                                            <th style="width:70px;">Quantity</th>
                                            <th style="width:70px;">Satuan</th>
                                            <th style="width:70px;">Harga</th>
                                            <th style="width:70px;">Total</th>
                                            <th style="width:20px;">Aksi</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr ng-repeat="y in daftarObat">
                                                <td>{{ $index + 1 }}</td><td>{{ y.name }}</td><td>{{ y.quantity }}</td><td>{{ y.satuan }}</td><td>{{ y.harga | currency:'Rp':0 }}</td> <td>{{   y.quantity * y.harga | currency:'Rp':0 }}</td> <td><i  class="fa fa-times text-danger text" ng-click="hapusdaftarObat($index)"></i></td>
                                            </tr>
                                         
                                        </tbody>
                                      </table>
                                    </div>
                            </div>

                            <!-- Panel Tambah Obat -->
                            <div class="col-sm-12">
                                <div class="panel panel-default" ng-show="shForm">
                                    <div class="panel-heading font-bold">
                                      Form elements
                                    </div>
                                    <div class="panel-body">
                        
                                <form class="form-horizontal">
                                    <input type="hidden" class="form-control" ng-model="id">
                                    
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label" for="input-id-1">Name</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="name">
                                          </div>
                                      </div>
                        
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label" for="input-id-1">Quantity</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="quantity">
                                          </div>
                                      </div>
                                
                                      
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label" for="input-id-1">Harga</label>
                                          <div class="col-sm-10">
                                            <p> {{harga | currency:'Rp':0 }}</p>
                                          </div>
    
                                      </div>

                                     
                        
                                      <div class="line line-dashed b-b line-lg pull-in"></div>
                                      <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                          <button type="submit" ng-click="cancelFormObat()" class="btn btn-default">Cancel</button>
                                          <button ng-click="submitForm()" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                        
                                </form>
                        
                                </div>
                        
                                </div>
                            </div>


                            <!-- Panel Tambah Obat -->
                            <div class="col-sm-12">
                                <div class="col-sm-6 col-md-6">Pilih Daftar Obat</div>
                                <div class="col-sm-6 col-md-6"><button class="btn m-b-xs w-xs btn-danger btn-rounded" style="float:right" ng-show="btnClose"> X Close </button></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive" >
                                        <table ui-jq="dataTable"  class="table  table-striped b-t b-b"   id="mytableObat">
                                        <thead>
                                        <tr>
                                            <th  style="width:5%">No </th>
                                            <th  style="width:90%">Nama Obat</th>          
                                            <th  style="width:5%">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in dataObat">
                                                <td>{{ $index + 1 }}</td> 
                                                <td>{{ x.nama }}</td>
                                                <td>
                                                   <i ng-click="FormObat(x.id)" class="fa fa-check text-success"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                 </div>
                            </div>



                        


                            <div class="col-sm-12" style="margin-top:50px">

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                      <div class="col-sm-12 ">
                                           <button type="submit" class="btn btn-primary" ng-click="simpanData()">Simpan Data</button>
                                      </div>
                                    </div>

                            </div>


                          </div>
                          </form>
                        </div>
                  
    
                </div>
                <!-- # End Panel Kanan -->



               





    
             </div>



    
          