        
         
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3"> Data Rekam Medis</h1>
            </div>
            <div class="panel hbox hbox-auto-xs no-border">
                <!-- # Panel Kiri -->
                <div class="col wrapper-lg w-lg bg-light dk r-r">
                    <h4 class="font-thin m-t-none m-b">Basic Info</h4>
                    <div class="">
                            <a href="" class="thumb-sm m-r">
                                <img src="../img/a1.jpg" class="r r-2x" ng-if="kelamin == 1">
                                <img src="../img/a3.jpg" class="r r-2x" ng-if="kelamin == 2">
                            </a>
                            <a href="">{{namaPasien}}</a>
                            <div class="clear">&nbsp;</div>
                            <div class="">
                                <span class="pull-right text-info">{{phone}}</span>
                                <span>Nomor Telepon</span>
                            </div>
                            <div class="clear">&nbsp;</div>  
                            <div class="">
                                <span class="pull-right text-info">{{umur}} Tahun</span>
                                <span>Umur</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info" ng-if="kelamin == 1">Laki - Laki</span>
                                <span class="pull-right text-info" ng-if="kelamin == 2">Perempuan</span>
                                <span>Jenis Kelamin</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{tinggi_badan}} cm</span>
                                <span>Tinggi Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{berat_badan}} Kg</span>
                                <span>Berat Badan</span>
                            </div>
                            <div class="clear">&nbsp;</div>                        
                            <div class="">
                                <span class="pull-right text-info">{{golongan_darah}}</span>
                                <span>Golongan Darah</span>
                            </div>
    
                     
                    </div>
                    <div class="clear">&nbsp;</div>  
                    <div class="clear">&nbsp;</div>  
                    <!-- <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button>
                    <button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-trash-o"></i>Info</button> -->
                    <div class="m-b-sm">
                        <div class="btn-group btn-group-justified">
                        <a href="#!/data-pasien/{{x.id_pasien}}" class="btn btn-danger">Tutup Dialog</a>
                        </div>
                      </div>
                </div>
                <!-- # End Panel Kiri -->
    
                <!-- # Panel Kanan -->    
                <div class="col wrapper">
                        <div class="panel-body">
                        <form class="form-horizontal" method="get">
                          <div class="form-group">
                            <label class="col-sm-12 panel-heading"><h3>Dokter Penanggung Jawab</h3></label>
                            <div class="col-sm-12">
                               {{namadokter}}                    
                            </div>  
                            <br />
                            <div class="clear">&nbsp;</div>
                            <div class="clear">&nbsp;</div>

                           

                            <div class="clear">&nbsp;</div>  
                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Elemen Gigi / Mulut</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="element_gigi_mulut"></textarea>      
                            </div>

                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Diagnosa</h3></label>
                            <div class="col-sm-12">
                                <textarea class="form-control" ng-model="diagnosa"></textarea>      
                            </div>

                            <label class="col-sm-12 panel-heading" style="margin-top:40px;  text-align:right;"><h3 style="margin-right:20px;">ICD 10</h3></label>
                              <div class="col-sm-12">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2"><textarea class="form-control" ng-model="icd10"></textarea></div>  
                            </div>


                            <label class="col-sm-12 panel-heading" style="margin-top:40px;"><h3>Tindakan Medis / Perawatan</h3></label>
                            <div class="col-sm-12">
                                    <div class="panel panel-default">
                                      <div class="panel-heading">Daftar Tindakan</div>
                                      <table class="table table-striped m-b-none">
                                        <thead>
                                          <tr>
                                            <th style="width:20px;" class="text-center">No</th>
                                            <th>Item</th>           
                                            <th style="width:70px;">Harga Bahan</th>
                                            <th style="width:70px;">Harga Layanan</th>
                                            <th style="width:70px;">Total </th>
                                            <th style="width:20px;">Aksi</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="a in daftarLayanan">
                                                <td>{{ $index + 1 }}</td>
                                                <td>{{ a.name }}</td>
                                                <td>{{ a.harga | currency:'Rp':0 }}</td>
                                                <td>{{ a.jasa | currency:'Rp':0 }}</td>
                                                <td>{{ ( (a.jasa * 1) + (a.harga * 1) ) | currency:'Rp':0 }}</td><td><i  class="fa fa-times text-danger text" ng-click="hapusdaftarLayanan($index)"></i></td>
                                            </tr>
                                         
                                        </tbody>
                                      </table>
                                    </div>
                            </div>

                            <!-- FORM LAYANAN MEDIS-->
                            <div class="col-sm-12">


                                <div class="panel panel-default" ng-show="shFormLayanan">
                                        <div class="panel-heading font-bold">
                                        Form elements
                                        </div>
                                        <div class="panel-body">

                                    <form class="form-horizontal">
                                        <input type="hidden" class="form-control" ng-model="idLayanan">
                                        <input type="hidden" class="form-control" ng-model="no">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Layanan</label>
                                            <div class="col-sm-10">
                                                <h5>{{nameLayanan}}</h5>
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                            <div class="col-sm-10">
                                                <h5>{{bahanLayanan}}</h5>
                                            </div>
                                        </div> 	
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                                            <div class="col-sm-10">
                                                <h5>{{harga_bahan | currency:'Rp':0 }}</h5>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Pelaksana</label>
                                                <div class="col-sm-10">
                                                        <select class="form-control m-b"  ng-model="pelaksana" ng-change="updateJasa()">
                                                                <option value="0">KO AS</option>                                
                                                                <option value="1">DRG</option>
                                                                <option value="2">DRG SP</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-id-1">Jasa Medis</label>
                                                <div class="col-sm-10">
                                                       {{jasa | currency:'Rp':0}}
                                                </div>
                                        </div>
                                        
                                        <input type="hidden" class="form-control" ng-model="harga_koas">
                                        <input type="hidden" class="form-control" ng-model="harga_drg">
                                        <input type="hidden" class="form-control" ng-model="harga_drgsp">
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" ng-click="cancelFormLayanan()" class="btn btn-default">Cancel</button>
                                            <button ng-click="submitFormLayanan()" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                    </div>

                                </div>

                            </div>
                            <!-- FORM LAYANAN MEDIS-->


                            <!-- Panel Tambah Tindakan Medis -->
                            <label class="col-sm-12" >Pilih Tindakan Medis</label>
                            <div class="col-sm-12"><div class="line line-dashed b-b line-lg pull-in"></div></div>
                            <div class="col-sm-12">
                                
                                <div class="table-responsive" >
                                        <table ui-jq="dataTable"  class="table  table-striped b-t b-b"   id="mytableLayanan">
                                        <thead>
                                        <tr>
                                            <th  style="width:5%">No </th>
                                            <th  style="width:90%">Layanan</th>          
                                            <th  style="width:5%">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="z in dataLayanan">
                                                <td>{{ $index + 1 }}</td> 
                                                <td>{{z.layanan }}</td>
                                                <td>
                                                   <i ng-click="FormLayanan(z.id)" class="fa fa-check text-success"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>



                            <div class="col-sm-12" style="margin-top:50px">

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                      <div class="col-sm-12 ">
                                           <button type="submit" class="btn btn-primary" ng-click="simpanData()">Simpan Data</button>
                                      </div>
                                    </div>

                            </div>


                          </div>
                          </form>
                        </div>
                  
    
                </div>
                <!-- # End Panel Kanan -->



               





    
             </div>



    
          