<div class="panel-body">
        <div class="form-group">Nama Obat</div>
        <div class="form-group">
            <input autofocus type="text" ng-model="nama_obat_edit" placeholder="Nama Obat" class="form-control">
        </div>
        <div class="form-group">Quantity Obat</div>
        <div class="form-group">
            <input autofocus type="text" ng-model="quantity_obat_edit" placeholder="Quantity Obat" class="form-control">
        </div>
        <div class="form-group">Harga Obat</div>
        <div class="form-group">
            <input autofocus type="text" ng-model="harga_obat_edit" placeholder="Harga Obat" class="form-control">
        </div>
</div>    