<div class="panel-body">
        <div class="form-group">Nama Layanan</div>
        <div class="form-group">
            <input autofocus type="text" ng-model="nama_layanan_edit" placeholder="Nama Layanan" class="form-control">
        </div>
        <div class="form-group">Harga Bahan</div>
        <div class="form-group">
            <input autofocus type="text" ng-model="harga_bahan_edit" placeholder="Harga Bahan" class="form-control">
        </div>
        <div class="form-group">Harga Layanan</div>
        <div class="form-group">
            <input type="text" ng-model="harga_layanan_edit" placeholder="Harga Layanan" class="form-control">
        </div>
        <div class="form-group">ICD 9</div>
        <div class="form-group">
            <input type="text" ng-model="icd" placeholder="ICD 9" class="form-control">
        </div>
</div>    