<div class="bg-light lter b-b wrapper-md hidden-print">
        <!-- <a href="{{urlPrint}}" class="btn btn-sm btn-info pull-right">Print</a> -->
        <h1 class="m-n font-thin h3">Edit Perawatan</h1>
      </div>
      <div class="wrapper-md" style="padding-bottom:100px;">
        <div>
      
          <div class="row" ng-show="perawatan">
            <div class="col-sm-2 col-xs-2">
              <img src="../img/rsgmlogo.png" width="100px">
            </div>
      
            <div class="col-sm-10 col-xs-10">
              <center>
                <p>
                  <strong>KEMENTERIAN RISET, TEKNOLOGI DAN PENDIDIKAN TINGGI</strong>
                  <br/>
                  <strong>UNIVERSITAS SUMATERA UTARA</strong>
                  <br/>
                  <strong>RUMAH SAKIT GIGI DAN MULUT</strong>
                  <br/> Jl. Alumni No.2 Kampus USU Medan
                  <br /> Telephone: +62 61-821-6131 Fax: +62 61-821-3421
                  <br/> Laman : http://rsgm.usu.ac.id
                </p>
              </center>
            </div>
      
          </div>
      
          <div class="col-xs-6">
            <p class="m-t m-b">Invoice date :
              <strong>{{ idKunjungan * 1 | date:'dd-MMMM-yyyy'}}</strong>
              <br> DPJP :
              <strong>{{namadokter}}</strong>
              <br> CO ASS/PPDGS :
              <strong>{{dokter_pendamping}}</strong>
              <br> Klinik :
              <strong ng-if="id_klinik == 1">IKGP/IKGM</strong>
              <strong ng-if="id_klinik == 2">PERIODONSIA</strong>
              <strong ng-if="id_klinik == 3">ILMU PENYAKIT MULUT</strong>
              <strong ng-if="id_klinik == 4">ILMU KEDOKTERAN GIGI ANAK</strong>
              <strong ng-if="id_klinik == 5">KONSERVASI</strong>
              <strong ng-if="id_klinik == 6">PROSTODONSIA</strong>
              <strong ng-if="id_klinik == 7">ILMU BEDAH MULUT</strong>
              <strong ng-if="id_klinik == 8">ORTODONSIA</strong>
              <strong ng-if="id_klinik == 9">RADIOLOGI KEDOKTERAN GIGI</strong>
              <br> Pasien :
              <strong>{{nameUser}}</strong>
              <br> Hp Pasien :
              <strong>{{phone}}</strong>
              <br>
            </p>
          </div>
          <div class="col-xs-6" ng-show="keterangan">
            <p class="m-t m-b">Invoice date:
              <strong>{{ idKunjungan * 1 | date:'dd-MMMM-yyyy'}}</strong>
              <br> Invoice status:
              <span class="label bg-danger">Belum Bayar</span>
              <br> Invoice ID:
              <strong>#{{idKunjungan}}</strong>
            </p>
          </div>
      
      <!-- ### Tabel Layanan -->


      <label class="col-sm-12 panel-heading">
            <h3>Anamnese</h3>
        </label>
        <div class="col-sm-12">
            <textarea class="form-control" ng-model="amnese"></textarea>
        </div>

      

        <label class="col-sm-12 panel-heading" style="margin-top:40px;">
            <h3>Elemen Gigi / Mulut</h3>
        </label>
        <div class="col-sm-12">
            <textarea class="form-control" ng-model="element_gigi_mulut"></textarea>
        </div>

        <label class="col-sm-12 panel-heading" style="margin-top:40px;">
            <h3>Diagnosa</h3>
        </label>
        <div class="col-sm-12">
            <textarea class="form-control" ng-model="diagnosa"></textarea>
        </div>

        <label class="col-sm-12 panel-heading" style="margin-top:40px;  text-align:right;">
            <h3 style="margin-right:20px;">ICD 10</h3>
        </label>
        <div class="col-sm-12" style="margin-bottom:70px">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <textarea class="form-control" ng-model="icd10"></textarea>
            </div>
        </div>

        <!-- ODONTOGRAMA  -->


        <label class="col-sm-12 panel-heading"><h3>Pemeriksaan Gigi</h3></label>
        <div class="col-sm-12">
            <!-- ORDONTOGRAMA INPUT -->
           <div style="width:20px;float:left;" ng-click="n18()"> <center>18 <br /><img src="{{imageUrl18}}"   /></center> </div>
           <div style="width:20px;float:left;margin-left:20px" ng-click="n17()" > <center>17 <br /><img src="{{imageUrl17}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n16()" > <center>16 <br /><img src="{{imageUrl16}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n15()"> <center>15 <br /><img src="{{imageUrl15}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n14()"> <center>14 <br /><img src="{{imageUrl14}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n13()"> <center>13 <br /><img src="{{imageUrl13}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n12()"> <center>12 <br /><img src="{{imageUrl12}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n11()"> <center>11 <br /><img src="{{imageUrl11}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n21()"> <center>21 <br /><img src="{{imageUrl21}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n22()"> <center>22 <br /><img src="{{imageUrl22}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n23()"> <center>23 <br /><img src="{{imageUrl23}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n24()"> <center>24 <br /><img src="{{imageUrl24}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n25()"> <center>25 <br /><img src="{{imageUrl25}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n26()"> <center>26 <br /><img src="{{imageUrl26}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n27()"> <center>27 <br /><img src="{{imageUrl27}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n28()"> <center>28 <br /><img src="{{imageUrl28}}" /></center> </div>
    </div>
    <div class="col-sm-12">
            <!-- ORDONTOGRAMA INPUT -->
           <div style="width:20px;float:left;">&nbsp; </div>
           <div style="width:20px;float:left;margin-left:20px"> &nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px"  ng-click="n55()"> <center>55 <br /><img src="{{imageUrl55}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px"  ng-click="n54()"> <center>54 <br /><img src="{{imageUrl54}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px"  ng-click="n53()"> <center>53 <br /><img src="{{imageUrl53}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px"  ng-click="n52()"> <center>52 <br /><img src="{{imageUrl52}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px"  ng-click="n51()"> <center>51 <br /><img src="{{imageUrl51}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n61()"> <center>61 <br /><img src="{{imageUrl61}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n62()"> <center>62 <br /><img src="{{imageUrl62}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n63()"> <center>63 <br /><img src="{{imageUrl63}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n64()"> <center>64 <br /><img src="{{imageUrl64}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n65()"> <center>65 <br /><img src="{{imageUrl65}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
    </div>
    <div class="col-sm-12">
            <!-- ORDONTOGRAMA INPUT -->
           <div style="width:20px;float:left;">&nbsp; </div>
           <div style="width:20px;float:left;margin-left:20px"> &nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n85()"> <center>85 <br /><img src="{{imageUrl85}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n84()"> <center>84 <br /><img src="{{imageUrl84}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n83()"> <center>83 <br /><img src="{{imageUrl83}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n82()"> <center>82 <br /><img src="{{imageUrl82}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n81()"> <center>81 <br /><img src="{{imageUrl81}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n71()" > <center>71 <br /><img src="{{imageUrl71}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n72()" > <center>72 <br /><img src="{{imageUrl72}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n73()" > <center>73 <br /><img src="{{imageUrl73}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n74()" > <center>74 <br /><img src="{{imageUrl74}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n75()" > <center>75 <br /><img src="{{imageUrl75}}"/></center> </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
           <div style="width:20px;float:left;margin-left:40px"> &nbsp; </div>
    </div>
    <div class="col-sm-12">
            <!-- ORDONTOGRAMA INPUT -->
           <div style="width:20px;float:left;" ng-click="n48()" > <center>48 <br /><img src="{{imageUrl48}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:20px" ng-click="n47()" > <center>47 <br /><img src="{{imageUrl47}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n46()" > <center>46 <br /><img src="{{imageUrl46}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n45()" > <center>45 <br /><img src="{{imageUrl45}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n44()" > <center>44 <br /><img src="{{imageUrl44}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n43()" > <center>43 <br /><img src="{{imageUrl43}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n42()" > <center>42 <br /><img src="{{imageUrl42}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n41()" > <center>41 <br /><img src="{{imageUrl41}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px">&nbsp;</div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n31()"> <center>31 <br /><img src="{{imageUrl31}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n32()"> <center>32 <br /><img src="{{imageUrl32}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n33()"> <center>33 <br /><img src="{{imageUrl33}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n34()"> <center>34 <br /><img src="{{imageUrl34}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n35()"> <center>35 <br /><img src="{{imageUrl35}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n36()"> <center>36 <br /><img src="{{imageUrl36}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n37()"> <center>37 <br /><img src="{{imageUrl37}}" /></center> </div>
           <div style="width:20px;float:left;margin-left:40px" ng-click="n38()"> <center>38 <br /><img src="{{imageUrl38}}" /></center> </div>
    </div>
     
                
        <div class="col-sm-12"  >
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-4"><img src="../img/belum_erupsi.png"  ng-click="fungsiBelumErupsi()"/> Tidak / Belum Erupsi</div>
                  <div class="col-sm-4"><img src="../img/gigi_hilang.png" ng-click="fungsiGH()"/> Gigi Hilang</div>
                  <div class="col-sm-4"><img src="../img/mahkota_non_logam.png" ng-click="fungsiMahkotaNonLogam()"/> Mahkota Non Logam</div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-4"><img src="../img/erupsi_sebagian.png" ng-click="fungsiErupsiSebagian()" /> Erupsi Sebagian</div>
                <div class="col-sm-4"><img src="../img/karies.png" ng-click="fungsiKaries()"/> Karies/Tambalan Sementara</div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-4"><img src="../img/anomali_bentuk.png" ng-click="fungsiAnomaliBentuk()"/> Anomali Bentuk</div>
                <div class="col-sm-4"><img src="../img/tambalan_logam.png" ng-click="fungsiTambalanLogam()"/> Tambalan Logam</div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-4"><img src="../img/non_vital.png" ng-click="fungsiNonVital()"/> Non Vital</div>
                <div class="col-sm-4"><img src="../img/tambalan_non_logam.png" ng-click="fungsiTambalanNonLogam()"/> Tambalan Non Logam</div>
              </div>
              <div class="col-sm-12">
                <div class="col-sm-4"><img src="../img/sisa_akar.png" ng-click="fungsiSisaAkar()"/> Sisa Akar</div>
                <div class="col-sm-4"><img src="../img/gigi_mahkota_logam.png" ng-click="fungsiML()"/> Mahkota Logam</div>
              </div>
              <div class="clear">&nbsp;</div>
              <div class="clear">&nbsp;</div>
              <div class="clear">&nbsp;</div>                     
            </div>
        </div>

       <div class="col-sm-12">
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <label class="col-sm-12 panel-heading"> Keterangan : </label>

                <table class="table table-striped m-b-none" >
                        <thead>
                          <tr>
                            <th style="width:60px;" class="text-center">No</th>
                            <th>Elemen Gigi</th>                    
                            <th>Keterangan</th>
                            <th>Catatan</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="k in daftarKondisiGigi">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ k.teeth }}</td>
                                <td>{{ k.explaination }}</td>
                                <td>{{ k.keterangan }}</td>
                            </tr>
                        </tbody>
                </table>



                <div class="form-group">
                 
                  <div class="clear">&nbsp;</div>
                  <div class="clear">&nbsp;</div>
                  <div class="clear">&nbsp;</div>                     
                </div>
        </div>
        <!-- ODONTOGRAMA  -->




      
       <!-- FORM LAYANAN MEDIS-->
       <div class="col-sm-12" ng-show="shFormLayanan">               
       <div class="panel panel-default" >
        <div class="panel-heading font-bold">
            Form Layanan Medis
        </div>
        <div class="panel-body">
      
            <form class="form-horizontal">
                <input type="hidden" class="form-control" ng-model="idLayanan">
                <input type="hidden" class="form-control" ng-model="no">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">Layanan</label>
                    <div class="col-sm-10">
                        <h5>{{nameLayanan}}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                    <div class="col-sm-10">
                        <h5>{{bahanLayanan}}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">Bahan yang digunakan</label>
                    <div class="col-sm-10">
                        <h5>{{harga_bahan | currency:'Rp':0 }}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">Pelaksana</label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" ng-model="pelaksana" ng-change="updateJasa()">
                            <option value="0">CO ASS</option>
                            <option value="1">PPDGS</option>
                            <option value="2">DRG</option>
                            <option value="3">DRG SP</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">Jasa Medis</label>
                    <div class="col-sm-10">
                        {{jasa | currency:'Rp':0}}
                    </div>
                </div>
      
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">ICD 9</label>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="icd9">
                        </div>
                    </div>
                </div>
                <input type="hidden" class="form-control" ng-model="jasa">
                <input type="hidden" class="form-control" ng-model="harga_koas">
                <input type="hidden" class="form-control" ng-model="harga_drg">
                <input type="hidden" class="form-control" ng-model="harga_drgsp">
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" ng-click="cancelFormLayanan()" class="btn btn-default">Cancel</button>
                        <button ng-click="submitFormLayanan()" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
      
        </div>
      
      </div>
      </div>    
                           
      
      
       <!-- Panel Tambah Tindakan Medis -->
       <div ng-show="tabelTindakanMedis">
       <label class="col-sm-12">Pilih Tindakan Medis / Perawatan</label>
       <div class="col-sm-12">
           <div class="line line-dashed b-b line-lg pull-in"></div>
       </div>
       <div class="col-sm-12">
      
           <div class="table-responsive">
               <table ui-jq="dataTable" class="table  table-striped b-t b-b" id="mytableLayanan">
                   <thead>
                       <tr>
                           <th style="width:5%">No </th>
                           <th style="width:90%">Layanan</th>
                        
                           <th style="width:5%">Aksi</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr ng-repeat="z in layananKlinik">
                           <td>{{ $index + 1 }}</td>
                          
                           <td>{{z.layanan }}</td>
                           <td>
                               <i ng-click="FormLayanan(z.id)" class="fa fa-check text-success"></i>
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
      </div>
      <!-- ### Tabel Layanan -->
      
      <!-- ### Tabel Obat -->
       <!-- Panel Tambah Obat -->
       <div class="col-sm-12" ng-show="shFormObat">
        <div class="panel panel-default" >
            <div class="panel-heading font-bold">
                Form elements
            </div>
            <div class="panel-body">
      
                <form class="form-horizontal">
                    <input type="hidden" class="form-control" ng-model="id_obat">
      
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nama_obat">
                        </div>
                    </div>
      
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">Quantity</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="quantity_obat">
                        </div>
                    </div>
      
      
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">Harga</label>
                        <div class="col-sm-10">
                            <p> {{harga_obat | currency:'Rp':0 }}</p>
                        </div>
      
                    </div>
      
                    <input type="hidden" class="form-control" ng-model="harga_obat">
                    <input type="hidden" class="form-control" ng-model="satuan_obat">
      
      
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" ng-click="cancelFormObat()" class="btn btn-default">Cancel</button>
                            <button ng-click="submitFormObat()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
      
                </form>
      
            </div>
      
        </div>
      </div>
       <!-- Tabel List Obat -->
       <div class="col-sm-12" ng-show="tabelObat">
        <div class="col-sm-6 col-md-6">Pilih Daftar Obat</div>
        <div class="col-sm-6 col-md-6">
            <button class="btn m-b-xs w-xs btn-danger btn-rounded" style="float:right" ng-click="closeFormObat()" > X Close </button>
        </div>
      </div>
      <div class="col-sm-12" ng-show="tabelObat">
        <div class="table-responsive">
            <table ui-jq="dataTable" class="table  table-striped b-t b-b" id="mytableObat">
                <thead>
                    <tr>
                        <th style="width:5%">No </th>
                        <th style="width:90%">Nama Obat</th>
                        <th style="width:5%">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in dataObat">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x.nama }}</td>
                        <td>
                            <i ng-click="FormObat(x.id)" class="fa fa-check text-success"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <!-- ### Tabel Obat -->


      
          <div class="line"></div>
          <table class="table table-striped bg-white b-a">
            <thead>
              <tr>
                <th style="width: 60px">No.</th>
                <th>Tindakan Medis --- ICD 9 </th>
                <th style="width: 240px">
                  <center>HARGA BAHAN | HARGA LAYANAN</center>
                </th>
                <th style="width: 140px">TOTAL</th>
                <th style="width: 150px"> <button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="ShowFormTambahLayanan()"><i class="fa fa-plus"></i>Add</button></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="w in myDataLayanan">
                <td>{{$index + 1}}</td>
                <td>{{w.nama_layanan}} --- {{w.icd}}</td>
                <td>
                  <center>{{w.harga_bahan | currency:'Rp':0}} | {{w.harga_layanan | currency:'Rp':0 }}</center>
                </td>
                <td>{{ ((w.harga_bahan * 1 ) + (w.harga_layanan * 1) ) | currency:'Rp':0 }}</td>
                <td>
                  <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="editLayanan(w)">
                    <i class="fa fa-edit"></i>Edit</button>
                  <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="hapusLayanan(w)">
                    <i class="icon icon-close"></i>Delete</button>
                </td>
              </tr>
      
              <tr>
                <td colspan="3" class="text-right">
                  <strong>Subtotal</strong>
                </td>
                <td>{{ getTotalLayanan | currency:'Rp':0 }}</td>
                <td></td>
              </tr>
              <thead>
                <tr>
                  <th style="width: 60px">QTY</th>
                  <th> Farmasi / Obat</th>
                  <th style="width: 100px">UNIT PRICE</th>
                  <th style="width: 150px">TOTAL</th>
                  <th style="width: 150px"><button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="ShowFormTambahObat()"><i class="fa fa-plus"></i>Add</button></th>
                </tr>
              </thead>
              <tr ng-repeat="x in myData">
                <td>{{x.quantity}}</td>
                <td>{{x.nama_obat}}</td>
                <td>{{ x.harga | currency:'Rp':0 }}</td>
                <td>{{x.quantity * x.harga | currency:'Rp':0}}</td>
                <td>
                    <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="editObat(x)">
                      <i class="fa fa-edit"></i>Edit</button>
                    <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="hapusObat(x)">
                      <i class="icon icon-close"></i>Delete</button>
                  </td>
              </tr>
              <tr>
                <td colspan="3" class="text-right">
                  <strong>Subtotal</strong>
                </td>
                <td>{{ getTotal | currency:'Rp':0 }}</td>
                <td></td>
              </tr>
      
              <tr>
                <td colspan="3" class="text-right no-border">
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>{{ (getTotal * 1 + getTotalLayanan * 1) | currency:'Rp':0 }}</strong>
                </td>
                <td></td>
      
              </tr>
             
            </tbody>
          </table>
        </div>
      
      
        <div class="line line-dashed b-b line-lg pull-in"></div>
        
       
          <div class="col-sm-12 ">
            <a href="#!/home">
              <button type="submit" class="btn btn-black">Back</button>
            </a>
            <!-- <button type="submit" class="btn btn-success" ng-click="submitInvoice()">Complete Order ?</button> -->
          </div>
       
      </div>


      <div class="col-sm-12" style="margin-bottom:40px">
            <button class="col-sm-12 btn btn-info btn-addon btn-lg" ng-click="submitEditPerawatan()"><i class="glyphicon  glyphicon-saved"></i>Submit Perubahan</button>
      </div>
      