<div class="bg-light lter b-b wrapper-md hidden-print">
        <a href class="btn btn-sm btn-info pull-right" onClick="window.print();">Print</a>
        <h1 class="m-n font-thin h3">Daftar Obat Apotik</h1>
      </div>
      <div class="wrapper-md" style="padding-bottom:100px;">
        <div>
          <div class="col-xs-6">
            <p class="m-t m-b">Nama Pasien: <strong>{{nameUser}}</strong><br>
              Klinik: <span ng-if="id_klinik == 1" >IKGP/IKGM</span>
                      <span ng-if="id_klinik == 2" >PERIODENSIA</span>
                      <span ng-if="id_klinik == 3" >ILMU PENYAKIT MULUT</span>
                      <span ng-if="id_klinik == 4" >ILMU KEDOKTERAN GIGI ANAK</span>
                      <span ng-if="id_klinik == 5" >KONSERVASI</span>
                      <span ng-if="id_klinik == 6" >PROSTODONSIA</span>
                      <span ng-if="id_klinik == 7" >ILMU BEDAH MULUT</span>
                      <span ng-if="id_klinik == 8" >ORTODONSIA</span>
                      <span ng-if="id_klinik == 9" >RADIOLOGI KEDOKTERAN GIGI</span><br>
              Dokter: <strong>#{{namadokter}}</strong>
            </p>
          </div>

          <div class="col-xs-6">
              <p class="m-t m-b">Invoice date: <strong>{{ idKunjungan * 1 |  date:'dd-MMMM-yyyy'}}</strong><br>
                Invoice status: <span class="label bg-danger">Belum Bayar</span><br>
                Invoice ID: <strong>#{{idKunjungan}}</strong>
              </p>
          </div>
          <div class="line"></div>
          <table class="table table-striped bg-white b-a">
           
              <thead>
                  <tr>
                    <th style="width: 60px">QTY</th>
                    <th>Biaya Farmasi / Obat</th>
                    <th style="width: 100px">UNIT PRICE</th>
                    <th style="width: 150px">TOTAL</th>
                    <th style="width: 50px"></th>
                  </tr>
                </thead>
                  <tr ng-repeat="x in myData">
                    <td>{{x.quantity}}</td>
                    <td>{{x.nama_obat}}</td>
                    <td>{{ x.harga | currency:'Rp':0 }}</td>
                    <td>{{x.quantity * x.harga | currency:'Rp':0}}</td>
                    <td><i  class="fa fa-times text-danger text" ng-click="hapusObat(x.id);"></i></td>
                  </tr>
                  
                 
              <tr>
                <td colspan="3" class="text-right no-border" ><strong>Total</strong></td>
                <td><strong> {{ getTotal | currency:'Rp':0  }}</strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>              
        </div>
    
    
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-8 ">
                  </div>
              <div class="col-sm-4 ">
                <button type="submit" class="btn btn-black">Back</button>
                <button type="submit" class="btn btn-success" ng-click="submitObat()">Accept Order ?</button>
              </div>
            </div>
    
            
    
    
      
    
    
    
    
      </div>