<div class="bg-light lter b-b wrapper-md hidden-print">
        <a href class="btn btn-sm btn-info pull-right" onClick="window.print();">Print</a>
        <h1 class="m-n font-thin h3">Invoice</h1>
      </div>
      <div class="wrapper-md" style="padding-bottom:100px;">
        <div>
           <img src="../img/rsgmlogo.png" width="100px">
          <div class="row">
            <div class="col-xs-6">
              <h4>RSGM USU</h4>
              <p>Jl. DR. Mansyur No.66 <br>
                Medan Baru, Kota Medan<br>
                Sumatera Utara 20154
              </p>
              <p>
                Telephone:  +62 61-692-7753<br>
                Fax:  +62 61-692-7753
              </p>
            </div>
            <div class="col-xs-6 text-right">
              <p class="h4">#{{idKunjungan}}</p>
              <h5>{{ idKunjungan * 1 |  date:'dd-MMMM-yyyy'}}</h5>           
            </div>
          </div>
          <div class="well m-t bg-light lt">
            <div class="row">
              <div class="col-xs-6">
                <h3>{{nameUser}}</h3>
                <h4>Nomor Kunjungan</h4>
                <p>{{idKunjungan}}</p>
                <h4>Alamat</h4>
                {{alamat}}<br>
                Phone: {{phone}}<br>
                
              </div>
    
              <div class="col-xs-6">
                  <h3>Klinik</h3>
                    <p ng-if="id_klinik == 1" >IKGP/IKGM</option>
                    <p ng-if="id_klinik == 2" >PERIDONSIA</p>
                    <p ng-if="id_klinik == 3" >ILMU PENYAKIT MULUT</p>
                    <p ng-if="id_klinik == 4" >ILMU KEDOKTERAN GIGI ANAK</p>
                    <p ng-if="id_klinik == 5" >KONSERVASI</p>
                    <p ng-if="id_klinik == 6" >PROSTODONSIA</p>
                    <p ng-if="id_klinik == 7" >ILMU BEDAH MULUT</p>
                    <p ng-if="id_klinik == 8" >ORTODONSIA</p>
                    <p ng-if="id_klinik == 9" >RADIOLOGI KEDOKTERAN GIGI</p>
                  <h4>Dokter</h4>
                  {{namadokter}}<br>
                  
                </div>
    
            </div>
          </div>
          <p class="m-t m-b">Invoice date: <strong>{{ idKunjungan * 1 |  date:'dd-MMMM-yyyy'}}</strong><br>
            Invoice status: <span class="label bg-danger">Belum Bayar</span><br>
            Invoice ID: <strong>#{{idKunjungan}}</strong>
          </p>
          <div class="line"></div>
          <table class="table table-striped bg-white b-a">
           
              <thead>
                  <tr>
                    <th style="width: 60px">QTY</th>
                    <th>Biaya Farmasi / Obat</th>
                    <th style="width: 100px">UNIT PRICE</th>
                    <th style="width: 150px">TOTAL</th>
                  </tr>
                </thead>
                  <tr ng-repeat="x in myData">
                    <td>{{x.quantity}}</td>
                    <td>{{x.nama_obat}}</td>
                    <td>{{ x.harga | currency:'Rp':0 }}</td>
                    <td>{{x.quantity * x.harga | currency:'Rp':0}}</td>
                  </tr>
                  
                 
              <tr>
                <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                <td><strong> {{ getTotal | currency:'Rp':0  }}</strong></td>
              </tr>
            </tbody>
          </table>              
        </div>
    
    
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-8 ">
                  </div>
              <div class="col-sm-4 ">
                <button type="submit" class="btn btn-black">Back</button>
                <button type="submit" class="btn btn-success">Accept Order ?</button>
              </div>
            </div>
    
            
    
    
      
    
    
    
    
      </div>