      <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3"> Daftar Histori Transaksi</h1>
      </div>

      <div class="wrapper-md">
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">                  
             Pencarian 
            </div>
            <div class="panel-body">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Dari Tanggal</label>
                  <datepicker date-format="yyyy-MM-dd"> <input type="text" class="form-control"  placeholder="Dari Tanggal" ng-model="tglawal"></datepicker>
                </div>

                <div class="checkbox m-l m-r-xs">
                  <label class="i-checks">
                    <input type="checkbox" ng-click="cekTanggal" ng-model="myVar"><i></i> Ke Tanggal
                  </label>
                </div>

                <div class="form-group" ng-show="myVar">
                  <label class="sr-only" for="exampleInputPassword2">Ke Tanggal</label>
                  <datepicker date-format="yyyy-MM-dd"> <input type="text" class="form-control"  placeholder="Ke Tanggal" ng-model="tglakhir"></datepicker>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Klinik</label>
                  <select class="form-control"  id="selklinik" style="margin-left:5px">
                    <option value="0">SEMUA KLINIK</option>                                
                    <option value="1">IKGP/IKGM</option>
                    <option value="2">PERIODONSIA</option>
                    <option value="3">ILMU PENYAKIT MULUT</option>
                    <option value="4">ILMU KEDOKTERAN GIGI ANAK</option>
                    <option value="5">KONSERVASI</option>
                    <option value="6">PROSTODONSIA</option>
                    <option value="7">ILMU BEDAH MULUT</option>
                    <option value="8">ORTODONSIA</option>
                    <option value="9">RADIOLOGI KEDOKTERAN GIGI</option>
                  </select>
                </div>


               <button class="btn btn-primary btn-addon" style="margin-left:5px"><i class="fa fa-search"></i>Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="wrapper-md">

          

        <div class="panel panel-default">
              <div class="panel-heading">
                Data Histori Transaksi
              <br>
            </div>
          <div class="table-responsive" >
              <table ui-jq="dataTable" class="table  table-striped b-t b-b"   id="mytableDokter">
              <thead>
                <tr>
                  <th  style="width:5%">No </th>            
                  <th  style="width:25%">Nomor Kunjungan</th>
                  <th  style="width:25%">Nama Pasien</th>            
                  <th  style="width:25%">Klinik</th>            
                  <th  style="width:10%">Aksi</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>  
                      <td>153243392141</td>
                      <td>Markus Haris Maulana</td>
                      <td>GIGI dan Mulut</td>
                      <td>  <a href="#!/invoice-history/11/1514449206314"><button class='btn btn-primary' >Lihat Detail</button></a> </td>
                  </tr>
                  <tr>
                        <td>2</td>  
                        <td>153243392141</td>
                        <td>Doni Darmawan</td>
                        <td>GIGI dan Mulut</td>
                        <td>  <a href="#!/invoice-history/11/1514449206314"><button class='btn btn-primary' >Lihat Detail</button></a> </td>
                  </tr>
                  <tr>
                        <td>3</td>  
                        <td>153243392141</td>
                        <td>Dellie Theresya Dinda</td>
                        <td>GIGI dan Mulut</td>
                        <td>  <a href="#!/invoice-history/11/1514449206314"><button class='btn btn-primary' >Lihat Detail</button></a> </td>
                  </tr>
              </tbody>
            </table>
                      
          </div>
        </div>
      </div>
